<article class="user-card card-width flex-row border">
  <div class="img-container">
    <%= image_tag(user.photo, alt: 'user photo') %>
  </div>
  <div class="user-info flex-row center-between">
    <h2><%= user.name %></h2>
    <div class="posts-info">
      <p>Number of posts: <%= user.posts_counter %></p>
    </div>
  </div>
</article>
